#root {
  margin: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  backdrop-filter: blur(5px);
}

.background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  background-size: cover;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  min-height: 100svh;
  min-height: 100vh;
}

.connect-btn {
  margin-top: 47svh;
  margin-top: 47vh;
}

.disconnect-btn {
  z-index: 99999;
}

.swap-btn {
  position: fixed;
  bottom: 20px;
  left: 40px;
}

.opensea-btn {
  position: fixed;
  bottom: 20px;
  right: 40px;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  padding-inline: 2em;
  background-color: rgba(241, 236, 236, 0.153);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 #00000042;
  z-index: 9;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1em;
}

.feesh {
  width: 70px;
}

h1 {
  position: fixed;
  top: 30px;
  margin: auto;
  max-width: 75%;
  color: #076ec8;
  text-shadow:
    1px 1px 0 coral,
    -1px 1px 0 coral,
    -1px -1px 0 coral,
    1px -1px 0 coral;
  font-family: monospace;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  z-index: 9;
}

nav p {
  font-size: 2em;
  font-family: monospace;
  font-weight: 800;
  color: #076ec8;
  text-shadow:
    1px 1px 0 coral,
    -1px 1px 0 coral,
    -1px -1px 0 coral,
    1px -1px 0 coral;
}

.nft-grid {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 120px;
  margin-bottom: 2em;
  z-index: 1;
}

.nft-item iframe {
  width: 350px;
  height: 350px;
  border: 1px solid #cccccc29;
  box-shadow: 0 0 30px 0 #00000069;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.loading-cont {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 99;
}

.loader {
  border: 15px solid #076ec8;
  border-left-color: coral;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
}

.no-nfts {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-nfts p {
  border: 1px solid #cccccc29;
  border-radius: 1em;
  padding: 2em;
  background-color: #076ec893;
  backdrop-filter: blur(10px);
  font-size: 1.5em;
}

.no-nfts a {
  color: coral;
  transition: 0.3s;
}

.no-nfts a:hover {
  color: coral;
}

.addy-cont {
  position: fixed;
  top: 70px;
  left: 30px;
  font-weight: 800;
  z-index: 99999;
  cursor: def
}

.text {
  color: #076ec8;
  text-shadow:
  1px 1px 0 coral,
  -1px 1px 0 coral,
  -1px -1px 0 coral,
  1px -1px 0 coral;
  cursor: default;
}

.contract-addy {
  color: coral;
  text-shadow:
    1px 1px 0 #076ec8,
    -1px 1px 0 #076ec8,
    -1px -1px 0 #076ec8,
    1px -1px 0 #076ec8;
}

.contract-addy:hover {
  color: #076ec8;
  text-shadow:
  1px 1px 0 coral,
  -1px 1px 0 coral,
  -1px -1px 0 coral,
  1px -1px 0 coral;
  cursor: pointer;
  transition: 0.3s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {

  nav p {
    font-size: 1.1em;
  }

  h1 {
    display: none;
  }

  nav {
    padding-inline: 1em;
  }
}